# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Django local database
db.sqlite3
*.sqlite3

# Media and static build
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/