{% load static %}
<div class="fox-scene"
     data-fox-scene
     data-fox-src="{% static 'lms/img/fox-run.svg' %}"
     data-books-src="{% static 'lms/img/fox-books.svg' %}"
     role="img"
     aria-label="Лиса бежит по лесной опушке к книгам, читает их, возвращается домой и спит">
    <canvas class="fox-scene-canvas" width="640" height="46" aria-hidden="true"></canvas>
    <noscript>
        <img class="fox-scene-fallback" src="{% static 'lms/img/fox-run.svg' %}" alt="" width="52" height="36">
    </noscript>
</div>
