{% spaceless %}
<svg xmlns="http://www.w3.org/2000/svg" style="position:absolute;width:0;height:0;overflow:hidden" aria-hidden="true" focusable="false">
    <defs>
        <symbol id="i-home" viewBox="0 0 24 24"><path d="M3.5 10.8 12 3.8l8.5 7"/><path d="M5.6 9.6V20h12.8V9.6"/><path d="M9.8 20v-5.4h4.4V20"/></symbol>
        <symbol id="i-lock" viewBox="0 0 24 24"><rect x="5" y="10.6" width="14" height="9.6" rx="2.2"/><path d="M8.4 10.6V7.8a3.6 3.6 0 0 1 7.2 0v2.8"/></symbol>
        <symbol id="i-check" viewBox="0 0 24 24"><path d="m5 12.8 4.4 4.2L19 7"/></symbol>
        <symbol id="i-check-circle" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8.6"/><path d="m8.2 12.3 2.6 2.6 5-5.4"/></symbol>
        <symbol id="i-circle-dashed" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8.6" stroke-dasharray="3.4 3.2"/></symbol>
        <symbol id="i-clock" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8.6"/><path d="M12 7.4V12l3.2 2.1"/></symbol>
        <symbol id="i-alert" viewBox="0 0 24 24"><path d="M12 4.3 2.9 20h18.2L12 4.3Z"/><path d="M12 10.3v4"/><path d="M12 17.2h.01"/></symbol>
        <symbol id="i-info" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8.6"/><path d="M12 11v5.4"/><path d="M12 7.9h.01"/></symbol>
        <symbol id="i-x" viewBox="0 0 24 24"><path d="m6.4 6.4 11.2 11.2M17.6 6.4 6.4 17.6"/></symbol>
        <symbol id="i-chevron-right" viewBox="0 0 24 24"><path d="m9.5 5.5 6.5 6.5-6.5 6.5"/></symbol>
        <symbol id="i-chevron-left" viewBox="0 0 24 24"><path d="M14.5 5.5 8 12l6.5 6.5"/></symbol>
        <symbol id="i-chevron-down" viewBox="0 0 24 24"><path d="m5.5 9.5 6.5 6.5 6.5-6.5"/></symbol>
        <symbol id="i-arrow-right" viewBox="0 0 24 24"><path d="M4 12h15.5"/><path d="m13.5 6 6 6-6 6"/></symbol>
        <symbol id="i-arrow-left" viewBox="0 0 24 24"><path d="M20 12H4.5"/><path d="m10.5 6-6 6 6 6"/></symbol>
        <symbol id="i-arrow-up" viewBox="0 0 24 24"><path d="M12 20V4.5"/><path d="m6 10.5 6-6 6 6"/></symbol>
        <symbol id="i-arrow-down" viewBox="0 0 24 24"><path d="M12 4v15.5"/><path d="m6 13.5 6 6 6-6"/></symbol>
        <symbol id="i-plus" viewBox="0 0 24 24"><path d="M12 5v14M5 12h14"/></symbol>
        <symbol id="i-pencil" viewBox="0 0 24 24"><path d="M4.5 19.5h3.2L19 8.2a2.1 2.1 0 0 0 0-3l-.2-.2a2.1 2.1 0 0 0-3 0L4.5 16.3v3.2Z"/><path d="m14.6 6.6 2.8 2.8"/></symbol>
        <symbol id="i-trash" viewBox="0 0 24 24"><path d="M4.5 6.8h15"/><path d="M9.4 6.8V4.9h5.2v1.9"/><path d="m6.6 6.8 1 12.3h8.8l1-12.3"/><path d="M10.3 10v6M13.7 10v6"/></symbol>
        <symbol id="i-copy" viewBox="0 0 24 24"><rect x="8.6" y="8.6" width="11" height="11" rx="2.2"/><path d="M15.4 5.6A2.2 2.2 0 0 0 13.2 4.4H6.6a2.2 2.2 0 0 0-2.2 2.2v6.6c0 1 .6 1.8 1.5 2.1"/></symbol>
        <symbol id="i-search" viewBox="0 0 24 24"><circle cx="11" cy="11" r="6.6"/><path d="m20 20-4.3-4.3"/></symbol>
        <symbol id="i-filter" viewBox="0 0 24 24"><path d="M4 6.2h16l-6.2 7.2v5.4l-3.6 1.8v-7.2L4 6.2Z"/></symbol>
        <symbol id="i-layers" viewBox="0 0 24 24"><path d="m12 3.6 8.6 4.6L12 12.8 3.4 8.2 12 3.6Z"/><path d="m3.4 13 8.6 4.6L20.6 13"/><path d="m3.4 17.2 8.6 4.6 8.6-4.6"/></symbol>
        <symbol id="i-book" viewBox="0 0 24 24"><path d="M5 4.8h9.6A3.4 3.4 0 0 1 18 8.2v11H8.4A3.4 3.4 0 0 1 5 15.8V4.8Z"/><path d="M18 19.2H8.4a3.4 3.4 0 0 0-3.4 3.4"/><path d="M8.6 8.6h6M8.6 12h6"/></symbol>
        <symbol id="i-file-text" viewBox="0 0 24 24"><path d="M13.8 3.6H7.4a2 2 0 0 0-2 2v12.8a2 2 0 0 0 2 2h9.2a2 2 0 0 0 2-2V8.2l-4.8-4.6Z"/><path d="M13.6 3.8v4.6h4.6"/><path d="M8.6 13h6.8M8.6 16.4h4.6"/></symbol>
        <symbol id="i-image" viewBox="0 0 24 24"><rect x="3.6" y="4.8" width="16.8" height="14.4" rx="2.2"/><circle cx="9" cy="10" r="1.6"/><path d="m4.4 17.6 4.8-4.4 3.2 3 2.8-2.4 4.4 3.8"/></symbol>
        <symbol id="i-mic" viewBox="0 0 24 24"><rect x="9.4" y="3.6" width="5.2" height="10.4" rx="2.6"/><path d="M6.2 12.2a5.8 5.8 0 0 0 11.6 0"/><path d="M12 18v2.6"/><path d="M9 20.6h6"/></symbol>
        <symbol id="i-headphones" viewBox="0 0 24 24"><path d="M4.6 15.4v-3a7.4 7.4 0 0 1 14.8 0v3"/><rect x="3" y="14.2" width="4" height="6" rx="1.8"/><rect x="17" y="14.2" width="4" height="6" rx="1.8"/></symbol>
        <symbol id="i-cards" viewBox="0 0 24 24"><rect x="3.4" y="6.6" width="12.4" height="13" rx="2.2"/><path d="M7.6 4.4h9.2a3.2 3.2 0 0 1 3.2 3.2v9.2"/></symbol>
        <symbol id="i-sparkles" viewBox="0 0 24 24"><path d="m11 3.6 1.7 4.3 4.3 1.7-4.3 1.7L11 15.6 9.3 11.3 5 9.6l4.3-1.7L11 3.6Z"/><path d="m18 15.2.8 2 2 .8-2 .8-.8 2-.8-2-2-.8 2-.8.8-2Z"/></symbol>
        <symbol id="i-user" viewBox="0 0 24 24"><circle cx="12" cy="8.4" r="3.8"/><path d="M4.8 20a7.2 7.2 0 0 1 14.4 0"/></symbol>
        <symbol id="i-users" viewBox="0 0 24 24"><circle cx="9.6" cy="8.6" r="3.4"/><path d="M3.4 19.4a6.2 6.2 0 0 1 12.4 0"/><path d="M16.2 5.6a3.4 3.4 0 0 1 0 6.6"/><path d="M17.6 14.2a6.2 6.2 0 0 1 3 5.2"/></symbol>
        <symbol id="i-chart" viewBox="0 0 24 24"><path d="M4 20h16"/><path d="M7 20v-6.4M12 20V5.6M17 20v-9"/></symbol>
        <symbol id="i-sliders" viewBox="0 0 24 24"><path d="M4 7.4h9.2M18.4 7.4H20M4 16.6h3.6M12.8 16.6H20"/><circle cx="15.8" cy="7.4" r="2.4"/><circle cx="10.2" cy="16.6" r="2.4"/></symbol>
        <symbol id="i-send" viewBox="0 0 24 24"><path d="M20.6 3.8 3.9 10.2l6.9 2.7 2.7 6.9 7.1-16Z"/><path d="m10.8 12.9 4.2-4.2"/></symbol>
        <symbol id="i-save" viewBox="0 0 24 24"><path d="M5.4 4.6h10.2l3.8 3.8v10.2a1 1 0 0 1-1 1H5.4a1 1 0 0 1-1-1V5.6a1 1 0 0 1 1-1Z"/><path d="M8.4 4.6v4.8h6.4V4.6"/><path d="M8 19.6v-5.4h8v5.4"/></symbol>
        <symbol id="i-download" viewBox="0 0 24 24"><path d="M12 4v10.6"/><path d="m7.8 11 4.2 4.2 4.2-4.2"/><path d="M4.8 19.4h14.4"/></symbol>
        <symbol id="i-upload" viewBox="0 0 24 24"><path d="M12 19.4V8.8"/><path d="m7.8 12.6 4.2-4.2 4.2 4.2"/><path d="M4.8 4.6h14.4"/></symbol>
        <symbol id="i-calendar" viewBox="0 0 24 24"><rect x="3.8" y="5.4" width="16.4" height="14.6" rx="2.2"/><path d="M8.4 3.4v4M15.6 3.4v4M3.8 10.2h16.4"/></symbol>
        <symbol id="i-target" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8.4"/><circle cx="12" cy="12" r="4.6"/><circle cx="12" cy="12" r="1"/></symbol>
        <symbol id="i-star" viewBox="0 0 24 24"><path d="m12 4 2.5 5.2 5.7.8-4.1 4 1 5.7-5.1-2.8-5.1 2.8 1-5.7-4.1-4 5.7-.8L12 4Z"/></symbol>
        <symbol id="i-award" viewBox="0 0 24 24"><circle cx="12" cy="9.4" r="5.4"/><path d="m8.6 14.2-1.4 6.4 4.8-2.4 4.8 2.4-1.4-6.4"/></symbol>
        <symbol id="i-list" viewBox="0 0 24 24"><path d="M8.6 6.4h11M8.6 12h11M8.6 17.6h11"/><path d="M4.6 6.4h.01M4.6 12h.01M4.6 17.6h.01"/></symbol>
        <symbol id="i-grid" viewBox="0 0 24 24"><rect x="4" y="4" width="7" height="7" rx="1.6"/><rect x="13" y="4" width="7" height="7" rx="1.6"/><rect x="4" y="13" width="7" height="7" rx="1.6"/><rect x="13" y="13" width="7" height="7" rx="1.6"/></symbol>
        <symbol id="i-refresh" viewBox="0 0 24 24"><path d="M20 12a8 8 0 1 1-2.6-5.9"/><path d="M20.4 4v4.4H16"/></symbol>
        <symbol id="i-keyboard" viewBox="0 0 24 24"><rect x="2.8" y="6.4" width="18.4" height="11.2" rx="2.2"/><path d="M6.4 10h.01M9.6 10h.01M12.8 10h.01M16 10h.01M8 14h8"/></symbol>
        <symbol id="i-logout" viewBox="0 0 24 24"><path d="M14.6 4.6h3.2a2 2 0 0 1 2 2v10.8a2 2 0 0 1-2 2h-3.2"/><path d="m10.4 8.4-4 3.6 4 3.6"/><path d="M6.4 12h9.4"/></symbol>
        <symbol id="i-eye" viewBox="0 0 24 24"><path d="M2.6 12S6.2 6.2 12 6.2 21.4 12 21.4 12 17.8 17.8 12 17.8 2.6 12 2.6 12Z"/><circle cx="12" cy="12" r="2.8"/></symbol>
        <symbol id="i-more" viewBox="0 0 24 24"><circle cx="12" cy="5.6" r="1.4"/><circle cx="12" cy="12" r="1.4"/><circle cx="12" cy="18.4" r="1.4"/></symbol>
        <symbol id="i-bell" viewBox="0 0 24 24"><path d="M6.4 10.4a5.6 5.6 0 0 1 11.2 0c0 4 1.4 5.4 1.4 5.4H5s1.4-1.4 1.4-5.4Z"/><path d="M10.2 19a2 2 0 0 0 3.6 0"/></symbol>
        <symbol id="i-external" viewBox="0 0 24 24"><path d="M14 4.6h5.4V10"/><path d="m19.4 4.6-8 8"/><path d="M18 14.4v4a1.6 1.6 0 0 1-1.6 1.6H5.6A1.6 1.6 0 0 1 4 18.4V7.6A1.6 1.6 0 0 1 5.6 6h4"/></symbol>
        <symbol id="i-menu" viewBox="0 0 24 24"><path d="M4 7h16M4 12h16M4 17h16"/></symbol>
        <symbol id="i-compass" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8.6"/><path d="m14.8 9.2-1.6 4.4-4.4 1.6 1.6-4.4 4.4-1.6Z"/></symbol>
        <symbol id="i-tag" viewBox="0 0 24 24"><path d="M4.6 11.4V5.4a.8.8 0 0 1 .8-.8h6l8 8-6.8 6.8-8-8Z"/><circle cx="8.6" cy="8.6" r="1.2"/></symbol>
        <symbol id="i-play" viewBox="0 0 24 24"><path d="M8 5.4 18.6 12 8 18.6V5.4Z"/></symbol>
        <symbol id="i-stop" viewBox="0 0 24 24"><rect x="6.6" y="6.6" width="10.8" height="10.8" rx="1.8"/></symbol>
        <symbol id="i-flag" viewBox="0 0 24 24"><path d="M5.6 20V4.6h9.2l-.8 3.2h5.4v8.6h-8l-.8-3.2H5.6"/></symbol>
        <symbol id="i-percent" viewBox="0 0 24 24"><path d="m6.4 17.6 11.2-11.2"/><circle cx="8" cy="8" r="2.2"/><circle cx="16" cy="16" r="2.2"/></symbol>
        <symbol id="i-sort" viewBox="0 0 24 24"><path d="M7.4 4.6v14.8M4 16l3.4 3.4L10.8 16"/><path d="M16.6 19.4V4.6M13.2 8l3.4-3.4L20 8"/></symbol>
        <symbol id="i-bookmark" viewBox="0 0 24 24"><path d="M6.6 4.6h10.8v15.8l-5.4-3.6-5.4 3.6V4.6Z"/></symbol>
        <symbol id="i-hash" viewBox="0 0 24 24"><path d="M9.4 4 7.6 20M16.4 4l-1.8 16M4.6 9h15M4 15h15"/></symbol>
        <symbol id="i-quote" viewBox="0 0 24 24"><path d="M9.6 6.6C7 7.8 5.4 10 5.4 12.8c0 2.6 1.4 4.4 3.6 4.4 1.8 0 3.2-1.3 3.2-3.1 0-1.7-1.2-3-2.9-3-.4 0-.8.1-1 .2.3-1.4 1.4-2.6 2.9-3.3l-1.6-1.4Z"/><path d="M18.4 6.6c-2.6 1.2-4.2 3.4-4.2 6.2 0 2.6 1.4 4.4 3.6 4.4 1.8 0 3.2-1.3 3.2-3.1 0-1.7-1.2-3-2.9-3-.4 0-.8.1-1 .2.3-1.4 1.4-2.6 2.9-3.3l-1.6-1.4Z"/></symbol>
        <symbol id="i-lightbulb" viewBox="0 0 24 24"><path d="M9.4 17.4a5.8 5.8 0 1 1 5.2 0v1.8H9.4v-1.8Z"/><path d="M9.8 21.4h4.4"/></symbol>
        <symbol id="i-shield" viewBox="0 0 24 24"><path d="M12 3.6 5 6.2v5.4c0 4.2 2.9 7.4 7 8.8 4.1-1.4 7-4.6 7-8.8V6.2l-7-2.6Z"/><path d="m9.2 12 2 2 3.6-3.8"/></symbol>
        <symbol id="i-database" viewBox="0 0 24 24"><ellipse cx="12" cy="6.4" rx="7.4" ry="2.8"/><path d="M4.6 6.4v11.2c0 1.6 3.3 2.8 7.4 2.8s7.4-1.2 7.4-2.8V6.4"/><path d="M4.6 12c0 1.6 3.3 2.8 7.4 2.8s7.4-1.2 7.4-2.8"/></symbol>
        <symbol id="i-archive" viewBox="0 0 24 24"><path d="M4.2 7.2h15.6l-1 12.2H5.2l-1-12.2Z"/><path d="M3.8 4.6h16.4v3.2H3.8z"/><path d="M9.2 11.4h5.6"/></symbol>
        <symbol id="i-columns" viewBox="0 0 24 24"><rect x="3.6" y="4.6" width="7.2" height="14.8" rx="1.8"/><rect x="13.2" y="4.6" width="7.2" height="14.8" rx="1.8"/></symbol>
        <symbol id="i-shuffle" viewBox="0 0 24 24"><path d="M3.6 7h3.2l3 5 3-5h3.6"/><path d="M3.6 17h3.2l1.6-2.7"/><path d="m13.4 14.6 1.8 2.4h3.2"/><path d="m16.4 4.6 2.4 2.4-2.4 2.4"/><path d="m16.4 14.6 2.4 2.4-2.4 2.4"/></symbol>
        <symbol id="i-list-ordered" viewBox="0 0 24 24"><path d="M10 6.6h10M10 12h10M10 17.4h10"/><path d="M4.4 5.4 5.8 4.6v4"/><path d="M4.2 10.9h2.2l-2.2 3h2.4"/><path d="M4.2 16.2h2.2v1.6H4.2v1.6h2.2"/></symbol>
        <symbol id="i-language" viewBox="0 0 24 24"><path d="M3.4 6.2h9.2"/><path d="M8 4v2.2"/><path d="M11.4 6.2c-.6 3.6-3 6.8-6.4 8.6"/><path d="M5.6 9.4c1.2 2.6 3.4 4.8 6 6"/><path d="m13 20 4-9.4 4 9.4"/><path d="M14.4 16.8h5.2"/></symbol>
        <symbol id="i-timer" viewBox="0 0 24 24"><circle cx="12" cy="13.4" r="7.2"/><path d="M12 9.8v3.6l2.4 1.6"/><path d="M9.6 3.4h4.8"/><path d="m18.6 7.4 1.4-1.4"/></symbol>
        <symbol id="i-printer" viewBox="0 0 24 24"><path d="M7.4 8.6V4.4h9.2v4.2"/><rect x="4" y="8.6" width="16" height="7.4" rx="2"/><path d="M7.4 14.4h9.2v5.2H7.4z"/></symbol>
        <symbol id="i-expand" viewBox="0 0 24 24"><path d="M9.4 4.6H4.6v4.8"/><path d="M14.6 19.4h4.8v-4.8"/><path d="M4.6 4.6l5.6 5.6"/><path d="M19.4 19.4 13.8 13.8"/></symbol>
        <symbol id="i-minimize" viewBox="0 0 24 24"><path d="M9.4 9.4H4.6V4.6"/><path d="M19.4 19.4h-4.8v-4.8"/><path d="M9.4 9.4 4.6 4.6"/><path d="m19.4 19.4-4.8-4.8"/></symbol>
    </defs>
</svg>
{% endspaceless %}
