{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">{% load lms_tags %}{% icon "alert" %}<span>{{ form.non_field_errors }}</span></div>
{% endif %}
{% for field in form.hidden_fields %}
    {{ field }}
    {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors }}</div>{% endif %}
{% endfor %}
{% for field in form.visible_fields %}
    {% if field.name == "groups" or field.name == "students" or field.name == "audio_comment" or field.name == "remove_audio" or field.name == "audio_comments" or field.name == "excluded_groups" or field.name == "excluded_students" or field.name == "structure_block" or field.name == "new_block_name" or field.name == "structure_chapter" or field.name == "new_chapter_name" or field.name == "structure_topic" or field.name == "new_topic_name" %}{# специальные поля рисуются рядом с контекстом #}{% else %}
    <div class="form-field{% if field.errors %} field-error{% endif %}{% if field.field.widget.input_type == 'checkbox' %} checkline{% endif %}{% if field.field.widget.input_type == 'file' %} upload-block{% endif %}">
        {% if field.field.widget.input_type == 'checkbox' %}
            {{ field }}<label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% else %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        {% endif %}
        {% if field.help_text %}<div class="help-text" id="{{ field.auto_id }}_helptext">{{ field.help_text }}</div>{% endif %}
        {{ field.errors }}
    </div>
    {% endif %}
{% endfor %}
